<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 text-capitalize">
                @ViewContext.RouteData.Values["controller"] / @ViewContext.RouteData.Values["action"]
            </h4>

            <div class="page-title-right">
                @{
                    var action = ViewContext.RouteData.Values["action"].ToString();
                    if (action != "Index")
                    {
                        <a class="btn btn-soft-primary" asp-action="Index">
                            <i class="ri-arrow-left-line align-middle me-1"></i> Back
                        </a>
                    }
                }
            </div>
        </div>
    </div>
</div>
<!-- end page title -->
