@model MRIV.Models.StationCategory

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>StationCategory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StationName" class="control-label"></label>
                <input asp-for="StationName" class="form-control" />
                <span asp-validation-for="StationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StationPoint" class="control-label"></label>
                <input asp-for="StationPoint" class="form-control" />
                <span asp-validation-for="StationPoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataSource" class="control-label"></label>
                <input asp-for="DataSource" class="form-control" />
                <span asp-validation-for="DataSource" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilterCriteria" class="control-label"></label>
                <input asp-for="FilterCriteria" class="form-control" />
                <span asp-validation-for="FilterCriteria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

